.main {
  display: flex;        /* pone los hijos en fila */
  height: 100vh;        /* ocupa toda la pantalla */
background-color: blue;
}

.sidebar {
  width: 25%;           /* ancho fijo o proporcional */
  border-right: 1px solid #ddd;
}

.chatWindow {
              /* ocupa el resto del espacio */
  display: flex;
  flex-direction: column; /* para que header, messages y footer se apilen */
}